/* ==========================
   General Styles for All Pages
   ========================== */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #dcd5fe;
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

    background: linear-gradient(
        135deg,
        #fde7f3 0%,
        #fbdcf0 40%,
        #f7d1ea 100%
    );

    background-attachment: fixed;
    background-size: cover;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 150px;
  margin-bottom: 20px;
}

p {
  font-family: 'Pacifico', normal;
  font-size: 70px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  background-color: pink;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.button:hover {
  background-color: lightpink;
}

/* ==========================
   Content Area
   ========================== */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;        /* centers horizontally */
  padding: 40px 20px;
  transition: margin-left 0.3s ease;
  text-align: center;
}

}
